<style>
    .edit-btn-component {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-image: linear-gradient(to top, orangered 0%, orange 100%);
        border: solid 3px transparent;
        background-clip: padding-box;
        color: white;
        min-height: 40px;
        padding: 0 10px;
        border-radius: 50px;
        transition: all .5s ease;
        cursor: pointer;
        z-index: 10;
    }
    .edit-btn-component:hover {
      box-shadow: 0px 0px 0px 3px #30a1b8;
      transform: scale(1.05);
    }
</style>


<button type="button" id="open-upload-modal" class="edit-btn-component">
    <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="#FFFFFF" height="24" width="24" viewBox="0 0 24 24">
        <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
    </svg>
</button>

