asgiref==3.8.1
bcrypt==4.3.0
boto3==1.38.24
botocore==1.38.24
cffi==1.17.1
cryptography==45.0.3
dj-database-url==0.5.0
Django==5.2
django-cors-headers==4.7.0
django-redis==5.*
django-simple-history==3.*
django-storages==1.14.6
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
drf-spectacular==0.28.0
gunicorn==23.0.0
jmespath==1.0.1
paramiko==3.5.1
pillow==11.1.0
protobuf
psycopg2-binary==2.9.10
pycparser==2.22
PyNaCl==1.5.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.0
s3transfer==0.13.0
six==1.17.0
sqlparse==0.5.3
sshtunnel==0.4.0
toml==0.10.2
urllib3==2.4.0
whitenoise==5.3.0
openai>=1.30.0,<2.0.0
celery>=5.4.0,<6.0.0
weasyprint==62.3
pydyf==0.11.0
openpyxl==3.1.5
