<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header align-items-center">
            <a class="navbar-brand" href="#">
                <img src="/static/assets/img/brand/logo_dark.png" class="navbar-brand-img" alt="Qadam Logo.">
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    {% if user.is_manager or user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link {% if 'subjects' in segment %} active {% endif %}" href="{% url 'subjects' %}">
                                <i class="ni ni-books text-default"></i>
                                <span class="nav-link-text">Список предметов</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if user.is_teacher %}
                        <li class="nav-item">
                            <a class="nav-link {% if 'subjects' in segment %} active {% endif %}" href="{% url 'my_subjects' %}">
                                <i class="ni ni-books text-default"></i>
                                <span class="nav-link-text">Мои предмет</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if user.is_manager or user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'lessons' in segment %} active {% endif %}" href="{% url 'lesson:lessons' %}">
                            <i class="ni ni-collection text-default"></i>
                            <span class="nav-link-text">Список занятий</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'teachers' in segment %} active {% endif %}" href="{% url 'teachers' %}">
                            <i class="ni ni-hat-3 text-default"></i>
                            <span class="nav-link-text">Список учителей</span>
                        </a>
                    </li>
                    {% if user.is_manager or user.is_superuser or user.is_teacher %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'students' in segment %} active {% endif %}" href="{% url 'students' %}">
                            <i class="ni ni-single-02 text-default"></i>
                            <span class="nav-link-text">Список учеников</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if user.is_manager or user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'authentication:register' %}">
                                <i class="ni ni-circle-08 text-pink"></i>
                                <span class="nav-link-text">Добавить нового пользователя</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if user.is_parent %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'student_details' user.get_student_id %}">
                                <i class="ni ni-circle-08 text-pink"></i>
                                <span class="nav-link-text">Мой ребенок</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
