<h3>Запрос на изменение профиля</h3>
<p>Пользователь {{ sender.username }} отправил запрос на изменение следующих данных:</p>

<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse;">
  <tr><th>Поле</th><th>Новое значение</th></tr>
  <tr><td>Имя</td><td>{{ sender_first_name }}</td></tr>
  <tr><td>Фамилия</td><td>{{ sender_last_name }}</td></tr>
  <tr><td>Email</td><td>{{ sender_email }}</td></tr>
  <tr><td>Телефон</td><td>{{ sender_phone_number }}</td></tr>
  <tr><td>Дата рождения</td><td>{{ sender_date_of_birth }}</td></tr>
  <tr><td>Адрес</td><td>{{ sender_address }}</td></tr>
  <tr><td>Занятость</td><td>{{ sender_occupation }}</td></tr>
  <tr><td>Класс</td><td>{{ sender_classroom }}</td></tr>
  <tr><td>Академическая степень</td><td>{{ sender_academic_degree }}</td></tr>
  <tr><td>Тип занятости</td><td>{{ sender_employment_type }}</td></tr>
  <tr><td>Пол</td><td>{{ sender_gender }}</td></tr>
  <tr><td>Рабочие часы</td><td>{{ sender_working_hours }}</td></tr>
</table>

{% if sender.get_full_name %}
<p>Отправитель: {{ sender.get_full_name }} ({{ sender.email }})</p>
{% endif %}

{% if avatar %}
<p>Фото профиля прилагается к письму.</p>
{% endif %}
