<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ subject }}</title>
</head>
<body>
  <h2>Здравствуйте, {{ user.first_name }}!</h2>
  <p>Ваша учетной записи на платформе Qadam Analytics была успешно создана.</p>
  <p>Для дальнейшего входа используйте следующие логин и пароль: </p>
    <p style="background-color: #4CAF50; color: white; padding: 10px 20px;
    text-align: center; text-decoration: none; display: inline-block; border-radius: 5px;">
      Логин: {{ user.username }}
    </p>
  <br>
    <p style="background-color: #4CAF50; color: white; padding: 10px 20px;
    text-align: center; text-decoration: none; display: inline-block; border-radius: 5px;">
      Пароль: {{ password }}
    </p>
  <p>Никому не говорите свои входные данные для учетной записи!</p>
  <p>Вы можете поменять данный вам пароль при необходимости</p>
  <br>
  <p>С уважением,</p>
  <p>Команда Qadam Analytics</p>
</body>
</html>