<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Сброс пароля</title>
</head>
<body>
  <h2>Здравствуйте, {{ user.first_name }}!</h2>
  <p>Вы запросили сброс пароля для своей учетной записи на платформе Qadam Analytics.</p>
  <p>Чтобы изменить пароль, пожалуйста, введите данный код на странице соответствующей странице:</p>
    <p style="background-color: #4CAF50; color: white; padding: 10px 20px;
    text-align: center; text-decoration: none; display: inline-block; border-radius: 5px;">
      {{ verification_code }}
    </p>
  <p>Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.</p>
  <br>
  <p>С уважением,</p>
  <p>Команда Qadam Analytics</p>
</body>
</html>
