
{% extends 'layouts/base-fullscreen.html' %}
{% block content %}
    <div class="container mt--8">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h3 class="text-center mb-5">Смена пароля</h3>
                        <form method="post">
                            {% csrf_token %}

                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}

                            <div class="form-group mb-3">
                            <div class="form-group mb-4">
                                Введите новый пароль
                                {{ form.password1 }}
                            </div>

                            <div class="form-group mb-3">
                                Повторите введенный пароль
                                {{ form.password2 }}
                            </div>

                                {% if form.password1.value != form.password2.value %}
                                    <div class="text-danger">Введенные данные не соответствуют</div>
                                {% else %}
                                    <div class="text-blue">Введите новый пароль</div>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Изменить пароль</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
