
{% extends 'layouts/base-fullscreen.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center mb-4">Смена пароля</h3>
            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}


                <div class="form-group mb-3">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}

                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {% if form.password1.value != form.password2.value %}
                        <div class="text-danger">Введенные данные не соответствуют</div>
                    {% else %}
                        <div class="text-success">Пароль был успешно изменён</div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary w-100">Изменить пароль</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
