{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 28px;
	vertical-align: middle;
	color: black;
	text-align: center;
	border-radius: 4px;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
</style>
{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-12 col-md-8">
        
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-3">
              <div class="text-center mt-2">
                Добавить нового пользователя
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-3">
              <div class="text-center text-muted mb-4">
                {% if error %}
                  <p style="color: #F32013">{{ error }} *</p>
                {% else %}
                  Заполните обязательные поля
                {% endif %}  
              </div>

              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            
                <div class="multisteps-form mb-5">
                <!--form panels-->
                <div class="row">
                  <div class="col-12 col-lg-8 m-auto">
                    <form class="multisteps-form__form mb-8" style="height: 411px;" enctype="multipart/form-data">
                      <!--single form panel-->
                      <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active" id="card-1">
                        <h5 class="font-weight-bolder mb-0">Информация о пользователе</h5>
                        <p class="mb-0 text-sm">Основная информаций</p>
                        <div class="multisteps-form__content">
                          <div class="row mt-3">
                            <div class="col-12 col-sm-6">
                              <label>Имя *</label>
                              {{ form.first_name }}
                            </div>
                            <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                              <label>Фамилия *</label>
                              {{ form.last_name }}
                            </div>
                          </div>
                          <div class="row mt-3">
                            <div class="col-12 col-sm-6">
                              <label>Школа</label>
                              {{ form.school }}
                            </div>
                            <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                              <label>Почта *</label>
                              {{ form.email }}
                            </div>
                          </div>
                          <div class="row mt-3">
                            <div class="col-12 col-sm-6">
                              <label>Пароль *</label>
                              {{ form.password1 }}
                            </div>
                            <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                              <label>Повторите Пароль</label>
                              {{ form.password2 }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--single form panel-->
                      <div class="card multisteps-form__panel p-3 border-radius-xl bg-white" id="card-2" style="display: none">
                        <h5 class="font-weight-bolder">Дополнительные данные</h5>
                        <div class="multisteps-form__content">
                          <div class="row mt-3">
                            <div class="col">
                              <label>Адрес</label>
                              {{ form.address }}
                            </div>
                          </div>

                          <div class="row mt-3">
                            <div class="col">
                              <label for="id_role">Роль *</label>
                              {{ form.role }}
                            </div>
                          </div>


                            <div>
{#                                For Parent#}
                                <div class="row mt-3 d-none" id="student_id_row">
                                    <div class="col">
                                        <label for="id_student_id">ID ученика</label>
                                        {{ form.student_id }}
                                    </div>
                                </div>

{#                                For Teachers#}
                                <div class="row mt-3 d-none" id="teacher_occupation_row">
                                    <div class="col">
                                        <label for="id_occupation">Занятость</label>
                                        {{ form.occupation }}
                                    </div>
                                </div>
                                <div class="row mt-3 d-none" id="teacher_gender_row">
                                    <div class="col">
                                        <label for="id_gender">Пол</label>
                                        {{ form.gender }}
                                    </div>
                                </div>
                                <div class="row mt-3 d-none" id="teacher_employment_type_row">
                                    <div class="col">
                                        <label for="id_employment_type">Тип Занятости</label>
                                        {{ form.employment_type }}
                                    </div>
                                </div>
                                <div class="row mt-3 d-none" id="teacher_degree_row">
                                    <div class="col">
                                        <label for="id_degree">Уровень Образования</label>
                                        {{ form.academic_degree }}
                                    </div>
                                </div>

{#                                For Students#}
                                <div id="student_details" class="d-none">
                                    <div class="row mt-3">
                                        <div class="col">
                                            <label for="id_classroom">Класс</label>
                                            {{ form.classroom }}
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <label for="id_school_group">Учебная группа</label>
                                            {{ form.school_group }}
                                        </div>
                                    </div>
                                </div>
                            </div>



                          <div class="row mt-3">
                            <div class="col-12 col-sm-6">
                              <label>Номер телефона</label>
                              {{ form.phone_number }}
                            </div>
                            <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                              <label>Дата рождения</label>
                              {{ form.date_of_birth }}
                            </div>
                            <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                              <label>Выберите файл</label>
                              <label class="input-file">
                                  <input type="file" name="avatar">
                                  <span>+</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="button-row row-cols-2 flex-row mt-4">
                        <button class="btn text-white bg-orange" type="button" title="Prev" id="prev" style="display: none;">Назад</button>
                        <button class="btn text-white bg-green ms-auto" type="button" title="Send" id="next">Следующий</button>
                        <button class="btn text-white bg-green" type="submit" id="submit" style="display: none;">Создать аккаунт</button>
                      </div>
                    </form>
                  </div>
                </div>
                </div>

              </form>
  
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}
<script>

document.addEventListener("DOMContentLoaded", function (){
   const roleField = document.getElementById('id_role');

   const studentIdRow = document.getElementById('student_id_row');
   const studentDetailsRow = document.getElementById('student_details')
   const teacherOccupationRow = document.getElementById('teacher_occupation_row')
   const teacherGenderRow = document.getElementById('teacher_gender_row')
   const teacherEmploymentTypeRow = document.getElementById('teacher_employment_type_row')
   const teacherDegreeRow = document.getElementById('teacher_degree_row')



   function toggleFields(){
       const role = roleField.value;

       studentIdRow.classList.add('d-none');

       studentDetailsRow.classList.add('d-none');

       teacherOccupationRow.classList.add('d-none');
       teacherGenderRow.classList.add('d-none');
       teacherEmploymentTypeRow.classList.add('d-none');
       teacherDegreeRow.classList.add('d-none');

       if (role === 'parent' || role === 'admin') {
            studentIdRow.classList.remove('d-none');
       } else if (role === 'teacher') {
            teacherOccupationRow.classList.remove('d-none');
            teacherEmploymentTypeRow.classList.remove('d-none');
            teacherGenderRow.classList.remove('d-none');
            teacherDegreeRow.classList.remove('d-none');

       } else if (role === 'student') {
            studentDetailsRow.classList.remove('d-none');
       }
   }

   toggleFields();

   roleField.addEventListener('change', toggleFields);
});


document.addEventListener("DOMContentLoaded", function() {
    let nextButton = document.getElementById('next');
    let prevButton = document.getElementById('prev');
    let submitButton = document.getElementById('submit');
    let oldFormBlock = false, newFormBlock = false;
    let formStep = 1;

    if (nextButton) {
        nextButton.addEventListener('click', function (event) {
            if (formStep !== 2) {
                oldFormBlock = document.getElementById('card-' + formStep);
                newFormBlock = document.getElementById('card-' + (formStep + 1).toString());

                if (oldFormBlock && newFormBlock) {
                    oldFormBlock.style.display = 'none';
                    newFormBlock.style.display = 'block';
                }

                formStep++;

                if (formStep === 2) {
                    nextButton.style.display = 'none';
                    prevButton.style.display = 'inline';
                    submitButton.style.display = 'inline';
                }
                else {
                    nextButton.style.display = 'inline';
                    prevButton.style.display = 'inline';
                    submitButton.style.display = 'none';
                }
            }
        });
    }

    if (prevButton) {
        prevButton.addEventListener('click', function (event) {
            if (formStep !== 1) {
                oldFormBlock = document.getElementById('card-' + formStep);
                newFormBlock = document.getElementById('card-' + (formStep - 1).toString());

                if (oldFormBlock && newFormBlock) {
                    oldFormBlock.style.display = 'none';
                    newFormBlock.style.display = 'block';
                }

                formStep--;
                prevButton.style.display = 'none';
                nextButton.style.display = 'inline';
                submitButton.style.display = 'none';
            }
        });
    }
});
$('.input-file input[type=file]').on('change', function(){
	let file = this.files[0];
	$(this).next().html(file.name.slice(0, 10)).css({                // apply whatever CSS you like
        'color':      '#007BFF',
        'font-weight':'bold',
        'font-size':  '14px',
        'padding':    'auto'
      });
});


</script>
{% endblock javascripts %}
