{% extends 'layouts/base-fullscreen.html' %}
{% block content %}
    <div class="container mt--8">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h3 class="text-center mb-5">Смена пароля</h3>
{#                        #}
{#                        {% if link %}#}
                            <form method="post">
                                {% csrf_token %}

                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif %}

                                <!-- New Password Field -->
                                <div class="form-group mb-4">
                                    <label for="id_new_password">Введите новый пароль</label>
                                    <input type="password" 
                                           name="new_password" 
                                           id="id_new_password" 
                                           class="form-control" 
                                           placeholder="Новый Пароль" 
                                           required>
                                    {% if form.new_password.errors %}
                                        <div class="text-danger">{{ form.new_password.errors }}</div>
                                    {% endif %}
                                </div>

                                <!-- Confirm Password Field -->
                                <div class="form-group mb-3">
                                    <label for="id_confirm_password">Повторите введенный пароль</label>
                                    <input type="password" 
                                           name="confirm_password" 
                                           id="id_confirm_password" 
                                           class="form-control" 
                                           placeholder="Повторите Пароль" 
                                           required>
                                    {% if form.confirm_password.errors %}
                                        <div class="text-danger">{{ form.confirm_password.errors }}</div>
                                    {% endif %}
                                </div>

                                <button type="submit" class="btn btn-primary w-100">Изменить пароль</button>
                            </form>
{#                        {% else %}#}
{#                            <div class="alert alert-danger">#}
{#                                <h4>Недействительная ссылка</h4>#}
{#                                <p>Ссылка для сброса пароля недействительна или истекла. Пожалуйста, запросите новую ссылку.</p>#}
{#                                <a href="{% url 'authentication:forget_password_confirmation' %}" class="btn btn-primary">Запросить новую ссылку</a>#}
{#                            </div>#}
{#                        {% endif %}#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
