    {% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Предметы {% endblock title %}

{% block content %}

  <div class="header bg-white pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 d-inline-block mb-0">Занятия</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'lesson:lessons' %}">Занятия</a></li>
              </ol>
            </nav>
          </div>

          <div class="col-lg-6 col-5 text-right">

                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Класс
                      </button>

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a href="?classroom=all" class="btn dropdown-item  filter-btn classer" data-value="all">Все Классы</a>
                          {% for class in classrooms %}
                              <a href="?classroom={{ class.name }}" class="btn dropdown-item filter-btn classer" data-value="{{ class.name }}">{{ class.name }}</a>
                          {% endfor %}
                      </div>
                  </div>

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                  Предмет
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="?subject=all" class="btn dropdown-item  filter-btn" data-value="all">Все Предметы</a>
                    {% for subject in subjects %}
                        <a  href="?subject={{ subject.name }}" class="btn dropdown-item filter-btn" data-value="{{ subject.name }}">{{ subject.name }}</a>
                    {% endfor %}
                </div>
              </div>


              {% if user.is_teacher or user.is_manager or user.is_superuser %}
                <button type="button" class="btn btn-primary">
                  <a href="{% url 'lesson:new_lesson' %}"
                     style="color: white !important; text-decoration: none !important;">
                      Новый
                  </a>
                </button>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Все занятия</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Имя</th>
                    <th scope="col" class="sort" data-sort="classroom">Класс</th>
                  <th scope="col" class="sort" data-sort="budget">Количество учеников</th>
                  <th scope="col" class="sort" data-sort="status">Статус</th>
                  <th scope="col">Учитель</th>
                  <th scope="col" class="sort" data-sort="completion">Прогресс</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% for lesson in page_obj %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="{% static '/assets/img/theme/bootstrap.jpg' %}">
                        </a>
                        <div class="media-body">
                          <a href="{% url 'lesson:lesson_details' lesson.id %}" class="name mb-0 text-sm">{{ lesson.title }}</a>
                        </div>
                      </div>
                    </th>
                    {% for title, number in number_of_students.items %}
                      {% if title == lesson.title %}
                        <td class="classroom">
                          {{ lesson.subject.classroom.name }}
                        </td>

                        <td class="budget" >
                          {{ number }}
                        </td>
                      {% endif %}
                    {% endfor %}

                    <td>
                      <span class="badge badge-dot mr-4">
                          {% if lesson.status == 'delayed' %}
                              <i class="bg-danger"></i>
                              <span class="status">{{ lesson.status }}</span>
                          {% elif lesson.status == 'pending' %}
                              <i class="bg-warning"></i>
                              <span class="status">{{ lesson.status }}</span>
                          {% elif lesson.status == 'on schedule' %}
                              <i class="bg-info"></i>
                              <span class="status">{{ lesson.status }}</span>
                          {% else %}
                              <i class="bg-success"></i>
                              <span class="status">{{ lesson.status }}</span>
                          {% endif %} 

                      </span>
                    </td>
                    <td>
                        <div>
                            {{ lesson.subject.teacher }}
                        </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{ lesson.progress }}%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{ lesson.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ lesson.progress }}%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0" >
                  {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                  {% endif %}

              <div class="pagination mb-0" id="pageNumerization"></div>

                  {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  {% endif %}
                </ul>

            </nav>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
    <script>

        const params = new URLSearchParams(window.location.search);
        const selectedClassroom = params.get("classroom");

        if ( selectedClassroom && selectedClassroom !== "all" ){
            document.getElementById("dropdownMenuButtonSubject").disabled = false;
        }else{
            document.getElementById("dropdownMenuButtonSubject").disabled = true;
        }

        document.querySelectorAll('.filter-btn').forEach(btn => {
          btn.addEventListener('click', () => {
            const filterValue = btn.dataset.value;
            document.querySelectorAll('tbody.list tr').forEach(row => {
              const classroomCell = row.querySelector('.classroom');
              if (filterValue === 'all' || classroomCell?.textContent.trim() === filterValue) {
                row.style.display = '';
              } else {
                row.style.display = 'none';
              }
            });
          });
        });
          const currPage = {{ page_obj.number }};
          const totalPages = {{ page_obj.paginator.num_pages }};
          const container = document.getElementById('pageNumerization');

          let start = 1;
          let end = totalPages;

          if (totalPages > 3) {
            if (currPage <= 2) {
              start = 1;
              end = 3;
            } else if (currPage >= totalPages - 1) {
              start = totalPages - 2;
              end = totalPages;
            } else {
              start = currPage - 1;
              end = currPage + 1;
            }
          }

          for (let page = start; page <= end; page++) {
            const li = document.createElement('li');
            li.className = 'page-item' + (page === currPage ? ' active' : '');

            const a = document.createElement('a');
            a.className = 'page-link';
            a.href = `?page=${page}`;
            a.textContent = page;

            li.appendChild(a);
            container.appendChild(li);
          }
    </script>
{% endblock javascripts %}
