{% extends 'layouts/base.html' %}

{% block title %} Ученики {% endblock title %}

{% block content %}

    <div class="header bg-white pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 d-inline-block mb-0">Ученики</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#">Ученики</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Список учеников</h3>
                            </div>
                            <div class="col text-right d-flex justify-content-end">
                                <div class="mr-2">
                                    <select id="yearSelect" class="form-control">
                                        <option value="">Все годы</option>
                                        {% for y in years %}
                                            <option value="{{ y.id }}"
                                                    {% if selected_year == y.id %}selected{% endif %}>{{ y.year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <select id="sortSelect" class="form-control">
                                        <option value="all" {% if selected_class == "all" %}selected{% endif %}>Все
                                            классы
                                        </option>
                                        {% for classroom in classrooms %}
                                            <option value="{{ classroom.name }}"
                                                    {% if selected_class == classroom.name %}selected{% endif %}>
                                                {{ classroom.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Имя</th>
                                <th scope="col" class="sort" data-sort="classroom">Класс</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            {% for student in page_obj %}
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <a href="#" class="avatar rounded-circle mr-3">
                                                <img src="{{ student.user.avatar.url|default:'/static/assets/img/theme/team-4.jpg' }}"
                                                     alt="Photo" class="profile-avatar">
                                            </a>
                                            <div class="media-body">
                                                <span
                                                        class="name mb-0 text-sm student-link"
                                                        data-url="{% url 'student_details' student.user.id %}"
                                                        style="cursor: pointer;"
                                                >
                                                    {{ student.user.first_name }} {{ student.user.last_name }}
                                                </span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="budget">
                                        {{ student.classroom.name }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="card-footer py-4">
                            <nav aria-label="...">
                                <ul class="pagination justify-content-end mb-0">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?class={{ selected_class }}&page={{ page_obj.previous_page_number }}">
                                                <i class="fas fa-angle-left"></i>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                    {% endif %}

                                    <div class="pagination mb-0" id="pageNumerization"></div>

                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?class={{ selected_class }}&page={{ page_obj.next_page_number }}">
                                                <i class="fas fa-angle-right"></i>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    {{ block.super }}
    <script>
        document.getElementById('sortSelect').addEventListener('change', function () {
            const selectedClass = this.value;
            const selectedYear = document.getElementById('yearSelect').value;
            const searchParams = new URLSearchParams(window.location.search);
            if (selectedYear) searchParams.set('year', selectedYear); else searchParams.delete('year');
            searchParams.set('class', selectedClass);
            searchParams.set('page', 1);
            window.location.search = searchParams.toString();
        });

        document.getElementById('yearSelect').addEventListener('change', function () {
            const selectedYear = this.value;
            const selectedClass = document.getElementById('sortSelect').value;
            const searchParams = new URLSearchParams(window.location.search);
            if (selectedYear) searchParams.set('year', selectedYear); else searchParams.delete('year');
            searchParams.set('class', selectedClass);
            searchParams.set('page', 1);
            window.location.search = searchParams.toString();
        });


        const currPage = {{ page_obj.number }};
        const totalPages = {{ page_obj.paginator.num_pages }};
        const container = document.getElementById('pageNumerization');

        let start = 1;
        let end = totalPages;

        if (totalPages > 3) {
            if (currPage <= 2) {
                start = 1;
                end = 3;
            } else if (currPage >= totalPages - 1) {
                start = totalPages - 2;
                end = totalPages;
            } else {
                start = currPage - 1;
                end = currPage + 1;
            }
        }

        for (let page = start; page <= end; page++) {
            const li = document.createElement('li');
            li.className = 'page-item' + (page === currPage ? ' active' : '');

            const a = document.createElement('a');
            a.className = 'page-link';
            const params = new URLSearchParams(window.location.search);
            a.href = `?class={{ selected_class }}&year=${'{{ selected_year }}'}&page=${page}`;
            a.textContent = page;

            li.appendChild(a);
            container.appendChild(li);
        }

        registerModalFetchHandler("student-link");
    </script>
{% endblock javascripts %}
