{% extends 'layouts/base.html' %}

{% block title %} Ученики {% endblock title %}

{% block content %}

  <div class="header bg-white pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 d-inline-block mb-0">Ученики</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Ученики</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Список учеников</h3>
                </div>
                <div class="col text-right">
                  <select id="sortSelect">
                    {% for classroom in classrooms %}
                      <option class="dropdown-item" value="{{ classroom.name }}">{{ classroom.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Имя</th>
                    <th scope="col" class="sort" data-sort="classroom">Класс</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for student in students %}
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <a href="#" class="avatar rounded-circle mr-3">
                            <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg">
                          </a>
                          <div class="media-body">
                            <span class="name mb-0 text-sm">{{ student.first_name }} {{ student.last_name }}</span>
                          </div>
                        </div>
                      </th>
                    <td class="budget">
                      {{ student.classroom.name }}
                    </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
   <script>
    document.getElementById('sortSelect').addEventListener('change', function () {
        const sortBy = this.value;
        filterByClassRoom(sortBy);
    });

    function filterByClassRoom(classRoom) {
        const table = document.querySelector('.table.align-items-center.table-flush tbody');
        const rows = Array.from(table.querySelectorAll('tr'));

        rows.sort((a, b) => {
            const classRoomA = a.querySelector('td.budget').innerText.toLowerCase();
            const classRoomB = b.querySelector('td.budget').innerText.toLowerCase();

            const matchesA = classRoomA.includes(classRoom.toLowerCase()) ? 0 : 1;
            const matchesB = classRoomB.includes(classRoom.toLowerCase()) ? 0 : 1;

            return matchesA - matchesB;
        });

        table.innerHTML = '';
        rows.forEach(row => table.appendChild(row));
    }

  </script>
{% endblock javascripts %}
