{% extends 'layouts/base.html' %}

{% block title %} Учителя {% endblock title %}

{% block content %}

  <div class="header bg-white pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 d-inline-block mb-0">Учителя</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Учителя</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header border-0">
              <h3 class="mb-0">Список учителей</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Имя</th>
                    <th scope="col" class="sort" data-sort="job">Должность</th>
                    <th scope="col" class="sort" data-sort="classroom">Классы</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for teacher in page_obj %}
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <a href="#" class="avatar rounded-circle mr-3">
                            <img alt="Image placeholder" src="{{ teacher.user.avatar.url|default:'/static/assets/img/theme/bootstrap.jpg' }}">
                          </a>
                            <div class="media-body">
                            <a href="{% url 'teacher_details' teacher.user.id %}" class="name mb-0 text-sm">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</a>
                          </div>
                        </div>
                      </th>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <span class="status">{{ teacher.occupation }}</span>
                      </span>
                    </td>
                    <td class="budget">
                      {{ teacher.classroom.name}}
                    </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

            <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0" >
                  {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                  {% endif %}

              <div class="pagination mb-0" id="pageNumerization"></div>

                  {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  {% endif %}
                </ul>

            </nav>
          </div>
            </div>
          </div>
        </div>
      </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
    <script>
    const currPage = {{ page_obj.number }};
      const totalPages = {{ page_obj.paginator.num_pages }};
      const container = document.getElementById('pageNumerization');

      let start = 1;
      let end = totalPages;

      if (totalPages > 3) {
        if (currPage <= 2) {
          start = 1;
          end = 3;
        } else if (currPage >= totalPages - 1) {
          start = totalPages - 2;
          end = totalPages;
        } else {
          start = currPage - 1;
          end = currPage + 1;
        }
      }

      for (let page = start; page <= end; page++) {
        const li = document.createElement('li');
        li.className = 'page-item' + (page === currPage ? ' active' : '');

        const a = document.createElement('a');
        a.className = 'page-link';
        a.href = `?page=${page}`;
        a.textContent = page;

        li.appendChild(a);
        container.appendChild(li);
      }

    </script>


{% endblock javascripts %}
